// COLORS
$dark-blue: #233d4d;
$orange: #fe7f2d;
$yellow: #fcca46;
$lite-green: #a1c181;
$mid-green: #619b8a;

$red: #ff0800;
$white: #fff;
$black: #000;

// FONTS
$primaiy-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// UTILS
$section-gap: 160px;
