@use "../../utils/theme/variables.scss" as vars;

body {
	background: vars.$beige;
	font-family: vars.$primaiy-font;

	#root {
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;

		h1 {
			color: vars.$burgandy;
		}
	}
}
