// COLORS
$burgandy: #562c2c;
$orange: #f2542d;
$beige: #f5dfbb;
$turquoise: #0e9594;
$mid-turquoise: #127475;

$red: #ff0800;
$white: #fff;
$black: #000;

// FONTS
$primaiy-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// UTILS
$section-gap: 160px;
