@use "../../utils/theme/variables.scss" as vars;

.puzzle-board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 65px;
}

.frame-wrapper {
	position: relative;
	box-shadow: 0 0 0px 10px;

	.original {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	h2.win {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		font-size: 40px;
		margin: 0 0;
		background: rgba(97, 155, 138, 0.7);
		text-transform: uppercase;
	}
}

.frame {
	display: flex;
	flex-wrap: wrap;
}

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

.controls {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.restart {
		background: vars.$turquoise;
		display: inline-block;
		text-decoration: none;
	}

	.shuffle {
		background: vars.$orange;
		display: inline-block;
		text-decoration: none;
	}
}
